
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: #f9f9f9;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.product-container {
  flex: auto;
  max-width: 250px;
  width: 550px;
  margin: 10px;
  padding: 10px;
  box-sizing:content-box;
  text-align: center;
}

.product-container img {
  width: 130px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.product-container h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.price {
  font-size: 14px;
  margin-bottom: 10px;
}

.share-btn {
  background-color: rgb(153, 195, 236);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.share-btn:hover {
  background-color: #c6d6f0;
}

.like-btn{
  background-color: rgb(103, 107, 248);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.like-btn:hover {
  background-color: #ff7ab2;
}

.delete-btn{
  background-color: pink;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn:hover {
  background-color: #b383f4;
}

.product-container .product-title {
  font-size: 15px;
}